# Powered by https://theapache64.github.io/git-do-not-ignore/
!trino
!minio1/
minio1/*
!minio1/docker-compose.yml
!minio2/
minio2/*
!minio2/docker-compose.yml
!mongo/
mongo/*
!mongo/docker-compose.yml
!mongo/mock_data
!metastore1/
metastore1/*
!metastore1/conf/
metastore1/conf/*
!metastore1/conf/core-site.xml
!metastore1/conf/metastore-site.xml
!metastore1/docker-compose.yml
!metastore1/Dockerfile
!metastore2/
metastore2/*
!metastore2/conf/
metastore2/conf/*
!metastore2/conf/core-site.xml
!metastore2/conf/metastore-site.xml
!metastore2/docker-compose.yml
!metastore2/Dockerfile

!.gitignore
!README.md
